<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div>
      <header>
        <h1>{{name}} Portfolio </h1>
        <nav>
          <ul>
            <li v-for="link in links">
              <a href="/">{{link}}</a>
            </li>
          </ul>
        </nav>
      </header>
      <main>
        <div class="blog_wrapper">
          <!-- BLOG SECTION -->
          <section id="blog">
            <article v-for="post in posts">
              <h3>{{post.title}}</h3>
              <p>{{post.body}}</p>
              <p class="read_more">Read More</p>
            </article>
            <article>
              <h3>Vue 3 Counter</h3>
              <span>Counter {{counter}}</span>
              <div>
                <button
                  v-on:click="counter++"
                >+</button>
                <button
                  v-on:click="counter--"
                >-</button>
              </div>
            </article>
            <hr />
            <article>
              <h3>Todos</h3>
              <h4>Current value: {{value}}</h4>
              <input
                v-bind:placeholder="placeholder"
                v-bind:value="value"
                v-on:input="inputHandler"
                v-on:keypress.enter="addNote"
              />
              <button
                v-on:click="addNote"
              >Add todo</button>
              <ul style="flex-direction: column">
                <li v-for="(note, index) in notes" style="margin: 0">
                  {{index + 1}}. {{note}}
                  <button v-on:click="deleteNote(index)">Delete</button>
                </li>
              </ul>
            </article>
          </section>
        </div>
      </main>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>
  </body>
</html>
